---
import { Image } from "astro:assets";
import cntl from "cntl";

interface Props {
    src: ImageMetadata;
    darkSrc?: ImageMetadata;
    alt: string;
    width: number;
    color?: string;
    borderColor?: string;
}

const { src, darkSrc, alt, width, color, borderColor } = Astro.props;

const bgColor = color || "bg-silver-tree-200/90 dark:bg-silver-tree-800/90";
const frameBorderColor =
    borderColor || "border-silver-tree-300 dark:border-silver-tree-700";

const frameClasses = cntl`
    border-t border-x 
    ${frameBorderColor}
    ${bgColor}
    shadow-lg
    backdrop-blur-lg
    rounded-t-2xl
    overflow-hidden pt-2 px-2
`;
---

<div class={frameClasses} style={`max-width: ${width}px; width: 100%;`}>
    <Image
        src={src}
        alt={alt}
        width={width}
        densities={[1.5, 2]}
        class={`block rounded-t-lg w-full h-auto object-contain ${darkSrc ? "dark:hidden" : ""}`}
        quality="max"
    />
    {
        darkSrc && (
            <Image
                src={darkSrc}
                alt={alt}
                width={width}
                densities={[1.5, 2]}
                class="hidden dark:block rounded-t-lg w-full h-auto object-contain"
                quality="max"
            />
        )
    }
</div>
